<section class="mt-5 p-5">
    <input type="text" class="form-control my-4 w-50 mx-auto inputFocus" placeholder="Search..." [(ngModel)]="term">
    <div class="row g-4">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of productData | search:term ">
            <div class="card p-2 h-100">
                <i *ngIf="!wishListData.includes(item._id)" (click)="addFav(item._id)" role="button" class="fa-solid fa-heart heart text-dark"></i>
                <i *ngIf="wishListData.includes(item._id)" (click)="removeFav(item._id)" role="button" class="fa-solid fa-heart heart text-danger"></i>


                <div role="button" [routerLink]="['/details' , item._id]">
                <img [src]="item.imageCover" alt="" class="w-100">
                <div class="productDetails m-2">
                    <h4 class="text-main h6">{{item.category.name}}</h4>
                    <h3 class="h6">{{item.title | cuttext}}</h3>
                    <div class="d-flex align-items-center justify-content-between">
                        <span>{{item.price | currency:' EGP'}}</span>
                        <span><i class="fas fa-star rating-color"></i> {{item.ratingsAverage}}</span>
                    </div>
                </div>
                </div>
                <button class="main-btn py-2" (click)="addProduct(item._id)" >+ Add To Cart</button>
            </div>
        </div>
    </div>
</section>
